<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <title>Register Documents</title>
        <h1 class="text-light bg-info" align="center">
            提出書類を登録するたい
        </h1>
    </head>
    <body>
        <form method="POST" align="center">
            {% csrf_token %}
            <table align="center">
              <h2>期限を登録</h2>
                {{ form.as_table }}
            </table>
            <button type="submit">登録</button>
        </form>
    </body>
</html>