<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="..\statics\css\toppage.css">
    <title>Home</title>
  </head>
  <body>
    <header class="bg-primary">
      <nav class="navbar bg-primary">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item">
            <img src="yurucat.jpg" width="30" height="30" alt="">
          </li>
          <li class="nav-item text-light align-middle ">
            <h2>知らせタイ！</h2>
          </li>
        </ul>
        <span class="navbar-text">
          <a class="btn text-light" href="{% url 'login' %}">ログアウト</a>
        </span>
      </nav>
    </header>
    <div align="center">
      <div class="">ようこそ、USER1さん。お疲れ様です。</div>
      <a class="btn btn-success" href="{% url 'register' %}">提出期限の登録へ</a>
    </div>

    <!-- ポップアップの表示 -->
    <!-- 画面表示時にポップアップを表示させる -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">ココを押すと表示</button>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">お知らせ</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table>
              {% for item in data %}
              <tr>
                <td>{{ item.member_name }}が</td>
                <td>{{ item.deadline_date }}が期限の</td>
                <td>{{ item.doc_title}}を出していません。</td>
              <tr>
              {% endfor %}
            </table>
              <p>{{ message }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">確認しました。</button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>