<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <h1 class="text-light bg-info" align="center">

        <img src="yurucat.jpg" width="30" height="30" alt="">
        Topページ
    </h1>
   
  </head>
  <body>
      <form align="center">
          <fieldset>
            <legend>ようこそ、USER1さん。お疲れ様です。</legend>

              <button type="submit">提出期限の登録へ</button>

            </p>

            </p>
          </fieldset>
        </form>


  </body>
</html>
