<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/toppage.css">
    <title>Home</title>
  </head>
  <body>
    <header class="bg-primary">
      <nav class="navbar bg-primary">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item">
            <img src="yurucat.jpg" width="30" height="30" alt="">
          </li>
          <li class="nav-item text-light align-middle ">
            <h2>知らせタイ！</h2>
          </li>
        </ul>
        <span class="navbar-text">
          <a class="btn text-light" href="{% url 'login' %}">ログアウト</a>
        </span>
      </nav>
    </header>
    <div align="center">
      <div class="">ようこそ、USER1さん。お疲れ様です。</div>
      <a class="btn btn-success" href="#">提出期限の登録へ</a>
    </div>
  </body>
</html>
